<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Member</title>
</head>
<body style="display: flex; justify-content: center;">
	<div style="width: 300px; border: 1px solid black; padding: 10px;">
	<form action="/addmember2" method="post">
		<h3>ADD Member</h3>
		<span>Campus Address</span><br>
		<input type="text" name="address" style="width:100%;"><br>
		<span>Phone Number</span><br>
		<input type="tel" name="phone" style="width:100%;"><br>
		<span>Card Number</span><br>
		<input type="number" name="card_no" style="width:100%;"><br>
		<span>Name</span><br>
		<input type="text" name="name" style="width:100%;">
		<span>Date of Issue</span><br>
		<input type="date" name="date_issue" style="width:100%;"><br>
		<span>Expiry Date</span><br>
		<input type="date" name="date_expiry" style="width:100%;"><br>
		<span>Added On</span><br>
		<input type="date" name="added_on" style="width:100%;"><br>
		<hr>
		<input type="submit" name="submit"style="width:100%;" value="Add Book">
	</form>
</div>

</body>
</html>