<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Librarian</title>
</head>
<body style="display: flex; justify-content: center;">
	<div style="width: 250px; border: 1px solid black; padding: 10px;">
	<form action="/addstaff" method="post">
		<h3>ADD Librarian</h3>
		<span>Name</span><br>
		<input type="text" name="name" style="width:100%;"><br>
		<span>Phone Number</span><br>
		<input type="tel" name="phone" style="width:100%;"><br>
		<span>Designation</span><br>
		<input type="text" name="designation" style="width:100%;"><hr>
		<input type="submit" name="submit"style="width:100%;">
	</form>
</div>

</body>
</html>